/* ============= Global ============= */
:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}

* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    background-color: var(--background);

    display: grid;
    grid-template-areas: "main aside";
    grid-template-columns: 55% 45%;
    font-family: 'Roboto', sans-serif;
    color: var(--text-base);
    font-size: 13px;
}

html {
    font-size: 15px; 
}

body,
html {
  height: 100%;
}

/* ============= Botões ============= */
button {
    width: 100%;
    height: 3.2rem;
    border: none;
    background: var(--primary-color);
    padding: 0;
    border-radius: 0.3rem;
    cursor: pointer;
}

/* ============= Cabeçalho ============= */
#header-logo {
    margin: 2rem;
}

/* ============= Conteúdo ============= */
main {  
    margin: 0;
    grid-area: main;
}

#form-container {
    background-color: var(--form-background);
    width: 600px;
    padding: 3rem 6rem;
    margin: 8rem auto;

    display: flex;
    flex-direction: column;

    border-radius: 0.3rem;
    border-width: 3px;

    gap: 50px;
}

/* ============= Lateral ( foto carro ) ============= */
aside {
    grid-area: aside;
}

aside img {
    height: 100%;
    width: 100%;
}

/* ============= Formulário ============= */
#form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
}

.input-email, .input-password {
    width: 100%;
    
}

.input-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border: solid;
    border-color: var(--text-base);
    border-radius: 0.2rem;
    border-width: 1.5px;
    
    

    background-color: var(--form-background);
    color: var(--text-base);
}

.input-group:focus-within {
    border-color: var(--primary-color);
    outline: solid;
    outline-color: var(--primary-color);
    border-radius: 0.2rem;
}

.input-email:focus-within {
    color: #ffc632;
}

.input-password:focus-within {
    color: #ffc632;
}

.input-group:focus-within #img-input-box-email {
    content: url(./assets/mail-focus.svg);
}

.input-group:focus-within #img-input-box-password {
    content: url(./assets/lock-focus.svg);
}

.input-group img {
    margin-left: 0.5rem;
    margin-right: 0.3rem;
}

.input-group input {
    width: 100%;
    padding: 12px 2px;
    border: none;
    outline: none;
    
    background-color: var(--form-background);
    color: var(--text-base);
}

#title-header-form {
    display: flex;
    justify-content: top;
    align-items: center;
    gap: 0.75rem;
}

.form-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-actions div {
    width: 10rem;
    display: flex;
    align-items: center;
    gap: 4px;
}

input[type=checkbox] {
    opacity: 0;
    position: absolute;
    height: 21px;
    width: 21px;
    cursor: pointer;
}

.checkmark {
    height: 21px;
    width: 21px;
    border: 1px solid #afb6c2;
    border-radius: 5px;
    background-color: rgba(178, 34, 34, 0);
}

.checkmark:after {
    content: url(./assets/check.svg);
    display: none;
}

.form-actions input[type=checkbox]:checked ~ .checkmark:after {
    display: block;
}

.form-actions label {
    cursor: pointer;
    user-select: none;
}

/* ============= Titulos e textos ============= */
h1 {
    color: var(--text-title);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem; 
}

h2 {
    color: var(--text-base);
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 0.950rem; 
}

button span {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--form-background); 
}

.form-actions div {
    font-weight: 400;
    font-size: 0.8rem;
}

#form-container {
    color: var(--text-base);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

.form-actions label {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

 a {
    color: var(--primary-color);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
}

/* ============= Responsivo ============= */
@media (max-width: 900px) {

    body {
        grid-template-columns: 100% 0%;
        overflow: visible;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: top;
        margin: 1rem;
    }

    #header-logo {
        margin: 0.5rem;
        position: absolute;
        width: 115px;
        height: 28px;
        left: 15px;
        top: 40px;

    }

    #form-container {
        position: relative;
        width: 375px;
        height: 812px;
        padding: 1rem;
        margin: 5rem;
        gap: 20px;
        background-color: #191816;
    }

    #form-container .register {
        font-family: 'Poppins';
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 21px;
    }

    #form-container .register b {
        font-family: 'Poppins';
        font-weight: 600;
        font-style: normal;
        font-size: 14px;
        line-height: 21px;
    }
}